{{ template "header.html"}}

<form action="{{.URL}}" method="post" name="tests">
    <div class="col-12">
        <label for="test" class="form-label">Select a Test</label>
        <select class="form-select" aria-label="test" name="test">
            {{range .Tests}}
                <option value="{{.Test}}">{{.Test}}</option>
            {{end}}
        </select>
    </div>

    <div class="text-center">
        <button class="w-33 btn btn-primary btn-lg" type="submit">Next</button>
    </div>

</form>

{{ template "footer.html"}}
